{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}

{% block title %}Restaurants{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

	  <table class="table table-hover">
          <!-- This is where you will write the code to render a Bootstrap 
          Table that contains all the information from the 
          cafe-data.csv file. -->
         <!--          {{ cafes }}-->
          <!--          [['Cafe Name', 'Location', 'Open', 'Close', 'Coffee', 'Wifi', 'Power'], ['Lighthaus', 'https://goo.gl/maps/2EvhB4oq4gyUXKXx9', '11AM', ' 3:30PM', '☕☕☕☕️', '💪💪', '🔌🔌🔌'], ['Esters', 'https://goo.gl/maps/13Tjc36HuPWLELaSA', '8AM', '3PM', '☕☕☕☕', '💪💪💪', '🔌'], ['Ginger & White', 'https://goo.gl/maps/DqMx2g5LiAqv3pJQ9', '7:30AM', '5:30PM', '☕☕☕', '✘', '🔌'], ['Mare Street Market', 'https://goo.gl/maps/ALR8iBiNN6tVfuAA8', '8AM', '1PM', '☕☕', '💪💪💪', '🔌🔌🔌']]-->
          <thead>
            <tr>
              <th scope="col">{{ cafes[0][0] }}</th>
              <th scope="col">{{ cafes[0][1] }}</th>
              <th scope="col">{{ cafes[0][2] }}</th>
              <th scope="col">{{ cafes[0][3] }}</th>
              <th scope="col">{{ cafes[0][4] }}</th>
              <th scope="col">{{ cafes[0][5] }}</th>
              <th scope="col">{{ cafes[0][6] }}</th>
            </tr>
          </thead>
          <tbody>
            {% for cafe in cafes[1:] %}
            <tr>
              <td>{{cafe[0]}}</td>
              <td><a href="{{cafe[1]}}">Map link</a></td>
              <td>{{cafe[2]}}</td>
              <td>{{cafe[3]}}</td>
              <td>{{cafe[4]}}</td>
              <td>{{cafe[5]}}</td>
              <td>{{cafe[6]}}</td>
            </tr>
          {% endfor %}
          </tbody>

  	  </table>

      <p><a href="{{ url_for('home') }}">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
